@page "/pacientes"
@* Este código no usa paginación aún*@
<div class="container mt-4">
<div class="card shadow-lg border-0 rounded-4">
<div class="card-header bg-primary text-white rounded-top-4">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="mb-0">
            <i class="fas fa-users me-2"></i>Listado de Pacientes
        </h4>
        <button class="btn btn-success" @onclick="NavegarACrear">
            <i class="fas fa-plus-circle me-1"></i> Nuevo Paciente
        </button>
    </div>
</div>
<div class="card-body p-2 bg-primary-subtle">
@* Botón para cambiar el estilo del listado Card o Tabla *@
<div class="d-flex justify-content-end">
    <button class="btn btn-sm btn-warning mt-0 m-2 " title="Listado" @onclick="() => CambiaEstilo()"
            style="text-transform: none;">
        <i class="@(EstiloCard ? "fas fa-list" : "fas fa-th")"></i>
        @(EstiloCard ? "Formato Listado" : "Formato Card")
    </button>
</div>
@* Si paciente es nulo se están cargando datos*@
@if (pacientes == null)
{
    <div class="text-center py-5">
        <i class="fas fa-spinner fa-pulse fa-2x text-primary"></i>
        <p class="mt-2">Cargando pacientes...</p>
    </div>
}
else
    @* Si paciente no tiene datos*@
if (!pacientes.Any())
{
    <div class="alert alert-info text-center">
        <i class="fas fa-info-circle me-2"></i> No hay pacientes registrados.
        <a href="#" @onclick:preventDefault="true" @onclick="NavegarACrear">Crear el primero</a>
    </div>
}
else
{
    @* Paciente si tiene datos*@
    if (EstiloCard)
        @* Listado Card *@
    {
<div class="row g-4">
        @foreach (var paciente in pacientes)
        {
            <div class="col-md-6 col-lg-4">
            <div class="card-paciente">
            <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
            <div class="ms-3">
            <h5 class="mt-0 mb-0">@paciente.Nombres @paciente.Apellidos</h5>
            <p class="mt-0 mb-0"><small><i class="fas fa-envelope"></i>@paciente.Email</small></p>
            <p class="mt-0 mb-0"><small><i class="fas fa-phone"></i>@paciente.Telefono</small></p>
            </div>
            </div>
            </div>
            <hr />

            <div class="mb-0">
                <i class="fas fa-calendar-alt"></i><b> Última cita</b>: Sin cita.
            </div>

            <div class="d-flex justify-content-end">

                <button class="btn btn-sm btn-info me-1" title="Ver detalles" @onclick="() =>
                                                                                  VerDetalles(paciente.Id)">
                    <i class="fas fa-eye"></i>
                </button>

                <button class="btn btn-sm btn-warning me-1" title="Editar" @onclick="() =>

                                                                               Editar(paciente.Id)">
                    <i class="fas fa-edit"></i>
                </button>

                <button class="btn btn-sm btn-danger" title="Eliminar" @onclick="() =>

                                                                           ConfirmarEliminar(paciente.Id, paciente.Nombres, paciente.Apellidos)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
            </div>
            </div>
        }
</div>
    }
    else
        @* Listado Table *@
    {
<div class="table-responsive">
        <table class="table table-hover align-middle">
        <thead class="table-light">
        <tr>
            <th>Nombre</th>
            <th>N° Documento</th>
            <th>Email</th>
            <th>Estado</th>
            <th class="text-center">Acciones</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var paciente in pacientes)
        {
            <tr>
            <td>@paciente.Nombres @paciente.Apellidos</td>
            <td>@paciente.NumeroDocumento</td>
            <td>@paciente.Email</td>
            <td>
                @if (paciente.Activo)
                {
                    <span class="badge bg-success">Activo</span>
                }
                else
                {

                    <span class="badge bg-secondary">Inactivo</span>
                }
            </td>

            <td class="text-center">

            <button class="btn btn-sm btn-info me-1" title="Ver detalles" @onclick="() =>
                                                                              VerDetalles(paciente.Id)">
                <i class="fas fa-eye"></i>
            </button>

            <button class="btn btn-sm btn-warning me-1" title="Editar" @onclick="() =>

                                                                           Editar(paciente.Id)">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-sm btn-danger" title="Eliminar" @onclick="() =>
                                                                       ConfirmarEliminar(paciente.Id, paciente.Nombres, paciente.Apellidos)">
                <i class="fas fa-trash-alt"></i>
            </button>
            </td>
            </tr>
        }
        </tbody>
        </table>
</div>
    }
}
</div>
</div>
</div>